.ratingBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #222;
	align-items: center;
	margin: 0;
}

.getRating {
	padding: 1em;
	color: #aaa;
}

.getRating:hover {
	background-color: #282828;
	color: #eee;
}

.ratingBox strong {
	font-weight: 700;
}

.imdbLogo {
	border-radius: 0.2em;
	font-weight: 700;
	margin-left: 0.7em;
	padding: 0.3em 0.7em;
	background-color: #ebc12d;
	color: #111;
}

.ratingBox a {
	display: flex;
}

.ratingBox a:hover .imdbLogo {
	background-color: #fbd13d;
	color: #000;
}

.movieValue {
	display: inline;
	font-weight: 700;
	padding: 1em;
	color: #eee;
}

.movieValue small {
	color: #666;
}